<div class="row">
	<div class="col-md-2 ">
		<div class="admin-left-pane">
		<h2><%= @page.title -%></h2>
		<div class="btn-group-vertical">
			<%= link_to 'Wijzig pagina', edit_admin_page_url(@page), :class => 'btn btn-default btn-sm' -%>
			<%= link_to 'Verwijder pagina', admin_page_url(@page), :confirm => "Weet u zeker dat u deze pagina wilt verwijderen?", :method => :delete, :action => "destroy", :class => 'btn btn-default btn-sm' -%>
			<%= link_to 'Voeg afbeelding toe', new_admin_page_embeddable_url(@page, :mode => 'image'), :class => 'btn btn-default btn-sm' -%>
			<%= link_to 'Embed link', new_admin_page_embeddable_url(@page, :mode => 'link'), :class => 'btn btn-default btn-sm' -%>
		</div>
	</div>
	</div>
	<div class="col-md-10">
		<div class="settings-pane-intro">
			<h3 class="panel-title">Pagina instellingen</h3>
			<p>Plugins bepalen de manier waarop een pagina er uit ziet en de 'embeddables' te zien zijn.</p>
		</div>
		<%= form_for [:admin,@page], :html => {class: "form-horizontal settings-pane"} do |f| -%>
		<div class="form-group">
			<%= f.label 'Slug', :class => 'col-lg-1 control-label'%>
			<div class="col-lg-11">
				<p class="form-control-static"><%= @page.slug -%> (<%= link_to 'stel in als homepagina', setashome_admin_settings_url(:page => @page)%>)</p>
			</div>
		</div>
		<div class="form-group">
			<%= f.label 'Plugin', :class => 'col-lg-1 control-label'%>
			<div class="col-lg-11">
				<%= f.select :page_plugin_id, PagePlugin.find(:all).collect {|p| [ p.title, p.id ] },{}, {:class => "form-control"}%>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-offset-1 col-lg-11">
				<div class="checkbox">
					<label>
						<%= f.check_box :sourcefromchildren -%> Gebruik embeddables van gelinkte pagina's
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<%= f.label 'Aantal embeds per paigina', :class => 'col-lg-1 control-label'%>
			<div class="col-lg-11">
				<%= f.text_field :showamountembed, :class => "form-control"%>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-offset-1 col-lg-11">
				<%= f.submit :class => "btn btn-default" %>
			</div>
		</div>
		<% end -%>
		<div class="settings-pane-intro">
			<h3 class="panel-title">Pagina's gelinkt aan deze pagina</h3>
			<p>Pagina's verbonden aan deze pagina.</p>
		</div>
		<div class="settings-pane">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Pagina</th>
					</tr>
				</thead>	
				<tbody>
					<% @page.children.map do |c| -%>
					<tr>
						<td><%= link_to c.title, admin_page_url(c) -%></td>
					</tr>	
					<% end -%>
				</tbody>
			</table>
		</div>
		<div class="settings-pane-intro">
			<h3 class="panel-title">Pagina tekst</h3>
			<p></p>
		</div>
		<div class="settings-pane settings-pane-text">
			<%= raw(@page.body) %>
		</div>
		
		<div class="settings-pane-intro">
			<h3 class="panel-title">Ingesloten Objecten</h3>
			<p></p>
		</div>
		<div class="settings-pane settings-pane-text">
			<% if @embeddables.length > 0 %>
			<ul id="embedlist">
					<% @embeddables.each do |e| %>
					<li id="ct_<%= e.id -%>">
						<% if e.linkmode == 'link'%>
						<div><%= link_to(image_tag(embedify(e.htmlbody, 180)['thumbnail_url'], :class => 'img-thumbnail img-responsive'), edit_admin_page_embeddable_url(:id => e.id, :page_id => params[:id])) -%></div>
						<% else %>
						<div><%= link_to(image_tag(e.image(:thumb), :class => 'img-thumbnail img-responsive'),  edit_admin_page_embeddable_url(:id => e.id, :page_id => params[:id]))   -%></div>
						<% end %>
							<div class="title"><%= e.title -%></div>
							<div class="btn-group pull-right">
							<%= link_to raw('<i class="icon-remove"></i> Verwijder'), admin_page_embeddable_url(:id => e.id, :page_id => params[:id]), :confirm => "Weet u zeker dat u deze embeddable wilt verwijderen?", :method => :delete, :action => "destroy", :class => 'btn btn-default btn-xs' -%>
							<%= link_to raw('<i class="icon-edit"></i> Wijzig'), edit_admin_page_embeddable_url(:id => e.id, :page_id => params[:id]), :class => 'btn btn-default btn-xs' -%>
							</div>
				</li>
					<% end -%>
		</ul>
		<% end -%>
		</div>
		<ol class="breadcrumb">
			<li><%= link_to 'Pagina\'s', admin_pages_url -%></li>
			<% if @page.ancestors.count > 0 -%><% @page.ancestors.each do |a| -%><li><%= link_to a.title, admin_page_url(a) -%></li><% end -%><% end -%>
			<li class="active"><%= @page.title -%></li>
		</ol>

	</div>
</div>
<script>

function getIds () {
	var ids = [];
	$('#embedlist li').each(function(){
		ids[ids.length] = $(this).attr('id');
	});
	return ids.join('.');
}

$(document).ready(function () {
	$("#embedlist").sortable({
		update: function(event, ui) {
			$.get('<%= url_for admin_page_saveorder_url(:page_id => @page.id, :format => 'json') -%>', {order:getIds});
		}
		
	});

});
</script>
