<%= form_for [:admin, @thumbnail], html: {role: "form", class: "form-horizontal"}  do |f| -%>
<% if @thumbnail.errors.any? %>
<div id="errorExplanation" class="well">
  <h4><%= pluralize(@thumbnail.errors.count, "error") %> prohibited this record from being saved:</h4>
  <ul>
  <% @thumbnail.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
	<%= f.label :title, :class => 'col-lg-1 control-label'%>
    <div class="col-lg-11">
		<%= f.text_field :title, :class => "form-control"%>
	</div>
</div>
<div class="form-group">
	<%= f.label "Formaat", :class => 'col-lg-1 control-label'%>
    <div class="col-lg-11">
		<%= f.text_field :sizes, :class => "form-control"%>
	</div>
</div>
		<div class="form-group">
		  <div class="col-lg-offset-1 col-lg-11">
		      <%= f.submit :class => "btn btn-default" %>
		  </div>
		</div>
<% end -%>