<%= render :partial =>'admin/shared/blog_navbar' -%>
<%= will_paginate @blogposts, renderer: BootstrapPagination::Rails, bootstrap: 3 %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Status</th>
				<th>Titel</th>
				<th>Datum</th>
				<th>Auteur</th>
				<th>Categorie</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		<% @blogposts.each do |bp| -%>
		<tr>
			<td>
				<% if !bp.status -%>
				<i class="icon-question-sign"></i>
				<% elsif bp.status == 'unpublished' %>
				<i class="icon-ban-circle"></i> 
				<% else %>
				<i class="icon-ok-circle"></i>
				<% end -%>
			</td>
			<td><%= link_to bp.title, edit_admin_blog_post_url(bp) %></td>
			<td><%= bp.created_at.to_formatted_s(:short)    %></td>
			<td><%= bp.user.firstname -%> <%= bp.user.familyname -%></td>
			<td><%= bp.blog_category.title -%></td>
			<td><div class="btn-group pull-right">
				<%= link_to 'Lees meer', admin_blog_post_url(bp), :class => 'btn btn-default' -%>
				<%= link_to "Wijzig", edit_admin_blog_post_url(bp), :class => 'btn btn-default' -%>
				<%= link_to "Verwijder", admin_blog_post_url(bp), :data => {:confirm => 'Weet je het zeker'}, :method => :delete, :action => 'destroy', :class => 'btn btn-default' -%>
			</div>
			</td>
		</tr>
		<%- end %>
		
	</tbody>
	</table>
	<%= will_paginate @blogposts, renderer: BootstrapPagination::Rails, bootstrap: 3 %>
