<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
  <title>n30-cms // <%= @pagetitle -%></title> 
  <%= stylesheet_link_tag    "admin/bootstrap.css", :media => "all" %>
  <%= stylesheet_link_tag    "admin/bootstrap-theme.min.css", :media => "all" %>
  <%= stylesheet_link_tag    "admin/style.css", :media => "all" %>
  <%= stylesheet_link_tag 	 "jquery-ui-1.10.3.custom.min.css", :media => 'all' %>
  <%= stylesheet_link_tag 	 "font-awesome.css", :media => 'all' %>
  <%= stylesheet_link_tag 	 "admin/codemirror.css", :media => 'all' %>
  
  <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,700|Roboto+Slab:400,300|Ubuntu:300,500,700,300italic,500italic,700italic' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
  <% 
  currentpage = 'home'
  if params[:controller].match('admin\/blog.*')
  	currentpage = 'blog'
  end
  if params[:controller].match('admin\/page.*')
  	currentpage = 'page'
  end
  if params[:controller].match('admin\/menu.*')
  	currentpage = 'menus'
  end
  if params[:id].to_i != current_user.id && params[:controller].match('admin\/users.*')
  	currentpage = 'users'
  end
  if params[:controller] == 'admin/users' && params[:id].to_i == current_user.id 
  	currentpage = 'profile'
  end
  if params[:controller].match('admin\/settings.*')
   currentpage = 'settings'
  end
  if params[:controller].match(/admin\/thumbnails.*/) || params[:controller].match(/admin\/templates.*/) || params[:controller].match(/admin\/stylesheets.*/) || params[:controller].match(/admin\/javascripts.*/) || params[:controller].match(/admin\/page_.*/) || params[:controller].match(/admin\/extra.*/) || params[:controller].match(/admin\/blog_templa.*/)
   currentpage = 'settings'
  end
  %>
</head>
<body>
		<nav class="left-menu">
		        <div class="logo">
					<a class="navbar-brand" href="#">N30-CMS</a>
		        </div>
	 	  		<ul class=" nav navbar-nav menu">
			  		<li<% if currentpage == 'home'%> class="active"<% end -%>><%= link_to raw('<i class="icon-home"></i> <span>Home</span>'), admin_root_url -%><% if currentpage == 'home' %><div class="arrow-left"></div><% end -%></li>
			  		<li<% if currentpage == 'blog'%> class="active"<% end -%>><%= link_to raw('<i class="icon-quote-left"></i> <span>Blog</span>'), admin_blog_posts_url -%><% if currentpage == 'blog' %><div class="arrow-left"></div><% end -%></li>
			  		<li<% if currentpage == 'page'%> class="active"<% end -%>><%= link_to raw('<i class="icon-th-large"></i> <span>Paginas</span>'), admin_pages_url -%><% if currentpage == 'page' %><div class="arrow-left"></div><% end -%></li>
					<li<% if currentpage == 'menus'%> class="active"<% end -%>><%= link_to raw('<i class="icon-sitemap"></i> <span>Menus</span>'), admin_menus_url -%><% if currentpage == 'menus' %><div class="arrow-left"></div><% end -%></li>
					<li<% if currentpage == 'users' -%> class="active"<% end -%>><%= link_to raw('<i class="icon-group"></i> <span>Gebruikers</span>'), admin_users_url -%><% if currentpage == 'users' %><div class="arrow-left"></div><% end -%></li>
					<li<% if currentpage == 'profile' %> class="active"<% end -%>><%= link_to raw('<i class="icon-user"></i> <span>Mijn profiel</span>'), edit_admin_user_url(current_user.id) -%><% if currentpage == 'profile' %><div class="arrow-left"></div><% end -%></li>
			  		<li<% if currentpage == 'settings'%> class="active"<% end -%>><%= link_to raw('<i class="icon-cogs"></i> <span>Instellingen</span>'), admin_settings_url -%><% if currentpage == 'settings' %><div class="arrow-left"></div><% end -%></li>
 	     		   <li><%= link_to raw('<i class="icon-signout"></i> <span>Uitloggen</span>'), destroy_user_session_path, :method => :delete %></li>
					
		  		</ul>
		</nav>
		<div class="admincontent">
		<div class="container">
			<% unless flash[:notice].nil? %>
			<div class="alert alert-info">
			    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<%= flash[:notice] -%>
			</div>
			<% end -%>
		<%= yield %>
		<footer class="bs-footer" role="contentinfo">
			<div class="container">
				<p>&copy; 2013 CT.Studios</p>
				<p>Dank aan Twitter Bootstrap, Ruby on Rails &amp; n30-cms</p>
			</div>
		</footer>
	</div>
		
	</div>
	
</body>
</html>
