<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title><%= @sitetemplate.head_title.sub(/\[title\]/, @title).sub(/\[pagetitle\]/, @pagetitle) -%></title>
	<meta name="description" content="<%= @sitetemplate.meta_description -%>">
	<meta name="viewport" content="width=device-width">
		
	<% @sitetemplate.stylesheets.find(:all, :include => [:template_sheets], :order => 'template_sheets.ordernum ASC').each do |s| %>
	<% if s.external_link.empty?%>
	<%= stylesheet_link_tag   url_for(s.getfileurl), :media => "all" %>
	<% else -%>
	<%= stylesheet_link_tag    s.external_link, :media => "all" %>
	<% end end -%>
	
	<% @sitetemplate.javascripts.each do |j| %>
	<% if j.external_link.empty?%>
	<%= javascript_include_tag    url_for(j.getfileurl) %>
	<% else %>
	<%= javascript_include_tag    j.external_link %>
	<% end end -%>
	
	<link rel="alternate" type="application/atom+xml" title="Atom" href="<%= url_for feed_url(:format => 'atom') -%>" />
	<%= csrf_meta_tags %>
</head>
<body>
	
	<%= raw( @sitelayout.to_s.sub(/\[content\]/, yield) ) %>
</body>
</html>
